
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    text-align: center;
    flex-grow: none;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .button {
    background-color: none;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
  }
  
  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .grid-item {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

@media screen and (max-width: 600px) {
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
    
    .container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    
    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .title {
      text-align: center;
      flex-grow: 1;
    }
    
    .buttons {
      display: flex;
      gap: 10px;
    }
    
    .button {
      background-color: none;
      color: none;
      padding: 5px 10px;
      text-decoration: none;
    }
    
    .content {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      padding: 20px;
    }
    
    .grid-item {
      background-color: #f1f1f1;
      padding: 20px;
      text-align: center;
      cursor: pointer;
    }
    
    footer {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }
  }
